{% extends 'base.html' %}
{% block content %}
  <h1>
    TODO list
    <a class="btn btn-primary link-to-page" href="{% url 'todo_list:task-create' %}">Add task</a>
  </h1>
  {% if tasks %}
    {% for task in tasks %}
      <li class="page-item-list">
        <h4>
          {{ task.description }}
        <strong>
          {% if task.is_completed %}
            <span class="task-done">Done</span>
          {% else %}
            <span class="task-not-done">Not done</span>
          {% endif %}
        </strong>
        {% if task.is_completed %}
          <a class="btn btn-secondary link-to-page" href="{% url 'todo_list:task-toggle' pk=task.id %}">
            Undo
          </a>
        {% else %}
          <a class="btn btn-success link-to-page" href="{% url 'todo_list:task-toggle' pk=task.id  %}">
            Complete
          </a>
        {% endif %}
        </h4>
        <p class="publish-date">
          Created: {{ task.created_at }}
          {% if not task.is_completed and task.deadline %}
            <strong class="deadline">Deadline: {{ task.deadline }}</strong>
          {% endif %}
        </p>
        <p>
          {% if task.tags.all %}
            <span class="tag-list">
            Tags:
            {% for tag in task.tags.all %}
              {{ tag.name }}
            {% endfor %}
            </span>
          {% endif %}
          <strong>
            <a style="text-decoration: none" href="{% url 'todo_list:task-update' pk=task.id  %}">
              Update
            </a>
            <a style="text-decoration: none" href="{% url 'todo_list:task-delete' pk=task.id  %}">
              Delete
            </a>
           </strong>
        </p>
      </li>
      <hr>
    {% endfor %}
  {% else %}
    <p>There are no tasks</p>
  {% endif %}
{% endblock %}